$small-margin: 8px;
$base-margin: 16px;
$medium-margin: 32px;

$small-padding: 0.5rem;
$base-padding: 1rem;
$medium-padding: 2rem;

$primary-pink: #e84393;
$white-color: #fff;
$black-color: #000;
$grey-color: #757575;
$primary-blue: #3498db;
$primary-light-red: #e74c3c;
$primary-green: #27ae60;
$primary-red: #c0392b;
$primary-orange: #f39c12;
